@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --background-color: #bcece0;
  --text-color: #36eee0;
  --shift-color: #f652a0;
  --button-color: #4c5270;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  width: fit-content;
  margin: 0;
  padding: 8px;
}

body.banner-mode {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.keyboard {
  display: flex;
  flex-direction: column;
}

.row-1,
.row-2 {
  display: flex;
  justify-content: center;
  align-items: start;
}

.btn-dark {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: var(--text-color);
  background-color: var(--button-color);
  border: unset;
  border-radius: 7px;
  padding: 8px;
  margin: 3px;
  width: 40px;
  transition: opacity 120ms ease-in-out, transform 90ms ease-in-out;
}

.shift-btn-dark {
  margin: 3px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--shift-color);
  border-radius: 7px;
  border: none;
  padding: 8px;
  transition: opacity 120ms ease-in-out, transform 90ms ease-in-out;
}

.shift-btn-dark img {
  width: 18px;
  height: 18px;
}

.btn-dark:hover,
.shift-btn-dark:hover {
  opacity: 0.9;
  cursor: pointer;
}

.btn-dark:active,
.shift-btn-dark:active {
  opacity: 0.8;
  transform: translateY(1px);
}
